/* 
    Document   : estilos
    Created on : 28/07/2013, 10:01:14 AM
    Author     : allen
    Description:
        Purpose of the stylesheet follows.
*/

.btn-logout { 
    position: absolute !important;
    top: 20px;
    right: 20px;
}

.creditos{
    color: #A09F9F;
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

